.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 62px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

.cta:hover {
  background: rgba(255, 255, 255, 0.7);
}

.cta-scroll {
  height: 176px;
  width: 74px;
  justify-self: center;
  margin-bottom: 283px;
}

.cta-scroll-arrow {
  max-width: 25px;
}

.cta-butterfly {
  position: absolute;
  max-width: 110px;
  transform: scaleX(-1);
}

.cta-scroll .cta-butterfly {
  margin-top: -190px;
  margin-left: 60px;
}

.cta-text .cta-butterfly {
  margin-top: -100px;
  margin-left: 250px;
}

.cta-text {
  padding: 10px 30px;
  width: 271px;
}
