.floating-img {
  position: relative;
  width: 100%;
}

.floating-tree {
  position: absolute;
  top: 0;
}

.floating-long-tree {
  left: 0;
  max-width: 32%;
}

.floating-short-tree {
  right: 0;
  max-width: 28%;
}

.floating-butterfly {
  margin-top: -155%;
}

.floating-temple {
  margin-top: -44%;
}

.floating-graves {
  margin-top: -56%;
}

.floating-praying {
  margin-top: -50%;
}

.floating-fainting {
  margin-top: -45%;
}

.floating-unconscious {
  margin-top: -21%;
}

.floating-hands {
  margin-top: -68%;
}

.floating-img-horizontal,
.floating-text-horizontal {
  position: absolute;
}

.floating-closed-eyes {
  height: 80vh;
  bottom: 0;
}

.floating-feet {
  height: 84vh; //->height de l'image divisé par vh
  top: 0;
  left: 20.8%; //->la marge de gauche divisée par la width de l'ensemble du slider
}

.floating-shocked {
  height: 58vh;
  top: 23.3vh;
  left: 42.6%;
}

.floating-father {
  height: 71vh;
  top: 4.2vh;
  left: 59.8%;
}

.floating-papa {
  top: 21vh;
  left: 60.7%;
}

.floating-boy-side {
  height: 67vh;
  top: 16.4vh;
  left: 80.1%;
}

.floating-father-side {
  height: 79vh;
  top: 5vh;
  left: 90.9%;
}
