.monologue {
  margin-bottom: 64px;
  margin: 0 auto 64px;
}

.monologue-college {
  max-width: 691px;
}

.monologue-temple,
.monologue-tombe {
  max-width: 500px;
}

.monologue-maman {
  margin: 64px auto 0;
  margin-right: -28%;
}
