* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/noise.png");
  overflow-x: hidden;
}

img,
video {
  display: block;
  // max-width: 100%;
}

p {
  font-family: "Teachers", sans-serif;
  text-align: center;
  font-size: 30px;
}

h1 {
  font-family: "fleur", sans-serif;
  font-size: 179px;
  margin-top: 196px;
  margin-bottom: 127px;
  justify-self: center;
  padding-right: 115px; //pour que lointain soit aussi inclus dans le centrage, bien qu'il soit en position : absolute
}

h1 span {
  position: absolute;
  margin-top: 100px;
  margin-left: -266px;
}

h2 {
  font-family: "fleur", sans-serif;
  font-size: 125px;
  padding-right: 47px; //même raison que h1
  padding-bottom: 70px; //même raison que padding-right
}

h2 span {
  position: absolute;
  margin-top: 70px;
  margin-left: -219px;
}

h3 {
  font-family: "Teachers", sans-serif;
  font-size: 30px;
  font-style: italic;
  margin-bottom: 8px;
}
