* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  // max-width: 100%;
}

p {
  font-family: "Teachers", sans-serif;
  text-align: center;
  font-size: 30px;
}

h1 {
  font-family: "fleur", sans-serif;
  font-size: 179px;
  margin-top: 196px;
  margin-bottom: 127px;
  justify-self: center;
  padding-right: 115px;
}

h1 span {
  position: absolute;
  margin-top: 100px;
  margin-left: -266px;
}
